.calendar {
  width: 100vw;
  height: 100vh;
}

.calendar-container {
  height: 75vh;
  overflow: auto;
}

.header-calendar-date {
  display: flex;
  justify-content: center;
}

.header-calendar-change {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.header-calendar-view {
  display: none;
  justify-content: center;
  margin-bottom: 1em;
}

.date-passed{
  background-color: rgba(128, 128, 128, 0.74);
}

.date-off{
  background-color: rgb(255, 183, 183);
}
