<h1 mat-dialog-title class="form-title">Bâtiment</h1>
<div mat-dialog-content >
  <form [formGroup]="formBuilding" class="form-input">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput type="text" name="name" formControlName="name" value="{{data.building.name}}"
        [ngClass]="{ 'is-invalid': buildingFormHasBeenSubmitted && formBuildingControle.name.errors }">
      <div *ngIf="buildingFormHasBeenSubmitted && formBuildingControle.name.errors" class="invalid-feedback">
        <div *ngIf="formBuildingControle.name.errors.required">Veuillez renseigner le nom</div>
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input matInput type="text" name="address" formControlName="address" value="{{data.building.address}}"
        [ngClass]="{ 'is-invalid': buildingFormHasBeenSubmitted && formBuildingControle.address.errors }">
      <div *ngIf="buildingFormHasBeenSubmitted && formBuildingControle.address.errors" class="invalid-feedback">
        <div *ngIf="formBuildingControle.address.errors.required">Veuillez renseigner l'adresse</div>
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ville</mat-label>
      <input matInput type="text" name="city" formControlName="city" value="{{data.building.city}}"
        [ngClass]="{ 'is-invalid': buildingFormHasBeenSubmitted && formBuildingControle.city.errors }">
      <div *ngIf="buildingFormHasBeenSubmitted && formBuildingControle.city.errors" class="invalid-feedback">
        <div *ngIf="formBuildingControle.city.errors.required">Veuillez renseigner la ville</div>
      </div>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Code Postal</mat-label>
      <input matInput type="text" maxlength="10" name="zipcode" formControlName="zipcode"
        value="{{data.building.zipcode}}"
        [ngClass]="{ 'is-invalid': buildingFormHasBeenSubmitted && formBuildingControle.zipcode.errors }">
      <div *ngIf="buildingFormHasBeenSubmitted && formBuildingControle.zipcode.errors" class="invalid-feedback">
        <div *ngIf="formBuildingControle.zipcode.errors.required">Veuillez renseigner le code postal</div>
      </div>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="form-button">
  <button color="warn" mat-button [mat-dialog-close]>Annuler</button>
  <button color="primary" mat-button (click)="saveBuilding(data.building.id)">Enregistrer</button>
</div>
