.form-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.input-id {
  display: none;
}
