.container {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: calc(100vw / 5);
  height: 75vh;
  background-color: #e9ddff;
  border-radius: 5px;
  padding: 2em;
}

.div-icon {
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 8em;
  height: 100%;
  width: 100%;
}

.div-infos {
  justify-content: center;
  display: flex;
}

.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2em;
}
.div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(177, 175, 175);
}


