<div class="container-body">
  <div class="navbar">
    <div class="div-add-building">
      <button color="primary" mat-raised-button (click)="openDialogBuilding()">
        Ajouter un Bâtiment
      </button>
    </div>
    <mat-nav-list #buildings>
      <a mat-list-item *ngFor="let building of buildingsList" (click)="clickDetailsBuilding(building)">
        {{building.name}}
      </a>
    </mat-nav-list>
  </div>
  <div class="details" *ngIf="building">
    <div class="details-title">
      <span>{{building.name}}</span>
      <div class="div-title-btn">
        <button color="primary" mat-stroked-button (click)="openDialogMeetingRoom(building.id)">
          Ajouter une salle
        </button>
        <button color="primary" mat-icon-button (click)="openDialogBuilding(building)">
          <mat-icon>edit</mat-icon>
        </button>
        <!-- <button color="warn" mat-icon-button (click)="deleteBuilding()">
          <mat-icon>delete</mat-icon>
        </button> -->
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-accordion class="accordion-reservation" *ngFor="let meetingRoom of meetingRoomsList">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>meeting_room</mat-icon>
            Salle {{meetingRoom['name']}}
          </mat-panel-title>
          <mat-panel-description>
            Etage: {{meetingRoom['floor']}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <meeting-room-form [meetingRoom] = "meetingRoom"></meeting-room-form>
        </div>
        <mat-divider></mat-divider>
        <timetable-admin [meetingRoom] = "meetingRoom"></timetable-admin>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
