.container-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.form-detail-room{
  width: 100%;
  margin: 0 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15em;
  height: calc(100vh - 150px);
  background-color: #e9ddff;
  border-radius: 5px;
  padding: 1em 0;
  margin: 0 1em;
  overflow: auto;
}

.btn-list {
  display: block;
  text-decoration: none;
}

.details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.accordion-reservation {
  width: 100%;
  margin: 5px 0;
}

.room-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.div-add-building {
  padding: 1em;
}

.details {
  display: flex;
  flex-direction: column;
}

.details-title {
  display: flex;
}
.details-title span {
  text-align: center;
  font-size: x-large;
  width: 100%;
}

.div-title-btn{
  display: flex;
  justify-content: flex-end;
}



mat-divider {
  margin: 1em;
}
