.card-reservation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: calc(20%);
}

.card-content {
  margin-bottom: 0;
}

.names {
  text-transform: uppercase;
}

.div-reservations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}


.div-reservation {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.button-reservation {
  width: 100%;
}
