<h1 mat-dialog-title class="form-title">Bâtiment</h1>
<div mat-dialog-content class="form-input">
  <mat-form-field class="input-id">
    <mat-label>Id</mat-label>
    <input matInput type="text" [(ngModel)]="data.building.id" readonly>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput type="text" [(ngModel)]="data.building.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Adresse</mat-label>
    <input matInput type="text" [(ngModel)]="data.building.address">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ville</mat-label>
    <input matInput type="text" [(ngModel)]="data.building.city">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Code Postal</mat-label>
    <input matInput type="text" maxlength="10" [(ngModel)]="data.building.zipcode">
  </mat-form-field>
</div>
<div mat-dialog-actions class="form-button">
  <button color="warn" mat-button [mat-dialog-close]>Annuler</button>
  <button color="primary" mat-button (onClick)="saveBuilding(data.building, data.building.id)">Ajouter</button>
</div>
