<div class="timetable" [formGroup]="formTimetable">
  <div>
    <p>Lundi</p>
    <input type="number" class="id-day" name="lundiId" formControlName="lundiId" readonly>
    <mat-form-field class="">
      <mat-label>ouverture</mat-label>
      <input type="time" matInput  name="lundiStart" formControlName="lundiStart">
    </mat-form-field>
    <input type="number" class="id-day" name="lundiId" formControlName="lundiId" readonly>
    <mat-form-field class="">
      <mat-label>fermeture</mat-label>
      <input type="time" matInput name="lundiEnd" formControlName="lundiEnd">
    </mat-form-field>
  </div>
  <div>
    <p>Mardi</p>
    <input type="number" class="id-day" name="mardiId" formControlName="mardiId" readonly>
    <mat-form-field class="">
      <mat-label>ouverture</mat-label>
      <input type="time" matInput name="mardiStart" formControlName="mardiStart">
    </mat-form-field>
    <input type="number" class="id-day" name="mardiId" formControlName="mardiId" readonly>
    <mat-form-field class="">
      <mat-label>fermeture</mat-label>
      <input type="time" matInput  name="mardiEnd" formControlName="mardiEnd">
    </mat-form-field>
  </div>
  <div>
    <p>Mercredi</p>
    <input type="number" class="id-day" name="mercrediId" formControlName="mercrediId" readonly>
    <mat-form-field class="">
      <mat-label>ouverture</mat-label>
      <input type="time" matInput name="mercrediStart" formControlName="mercrediStart">
    </mat-form-field>
    <input type="number" class="id-day" name="mercrediId" formControlName="mercrediId" readonly>
    <mat-form-field class="">
      <mat-label>fermeture</mat-label>
      <input type="time" matInput name="mercrediEnd" formControlName="mercrediEnd">
    </mat-form-field>
  </div>
  <div>
    <p>Jeudi</p>
    <input type="number" class="id-day" name="jeudiId" formControlName="jeudiId" readonly>
    <mat-form-field class="">
      <mat-label>ouverture</mat-label>
      <input type="time" matInput name="jeudiStart" formControlName="jeudiStart">
    </mat-form-field>
    <input type="number" class="id-day" name="jeudiId" formControlName="jeudiId" readonly>
    <mat-form-field class="">
      <mat-label>fermeture</mat-label>
      <input type="time" matInput name="jeudiEnd" formControlName="jeudiEnd">
    </mat-form-field>
  </div>
  <div>
    <p>Vendredi</p>
    <input type="number" class="id-day" name="vendrediId" formControlName="vendrediId" readonly>
    <mat-form-field class="">
      <mat-label>ouverture</mat-label>
      <input type="time" matInput name="vendrediStart" formControlName="vendrediStart">
    </mat-form-field>
    <input type="number" class="id-day" name="vendrediId" formControlName="vendrediId" readonly>
    <mat-form-field class="">
      <mat-label>fermeture</mat-label>
      <input type="time" matInput name="vendrediEnd" formControlName="vendrediEnd">
    </mat-form-field>
  </div>
  <div>
    <p>Samedi</p>
    <input type="number" class="id-day" name="samediId" formControlName="samediId" readonly>
    <mat-form-field class="">
      <mat-label>ouverture</mat-label>
      <input type="time" matInput name="samediStart" formControlName="samediStart">
    </mat-form-field>
    <input type="number" class="id-day" name="samediId" formControlName="samediId" readonly>
    <mat-form-field class="">
      <mat-label>fermeture</mat-label>
      <input type="time" matInput name="samediEnd" formControlName="samediEnd">
    </mat-form-field>
  </div>
  <div>
    <p>Dimanche</p>
    <input type="number" class="id-day" name="dimancheId" formControlName="dimancheId" readonly>
    <mat-form-field class="">
      <mat-label>ouverture</mat-label>
      <input type="time" matInput name="dimancheStart" formControlName="dimancheStart">
    </mat-form-field>
    <input type="number" class="id-day" name="dimancheId" formControlName="dimancheId" readonly>
    <mat-form-field class="">
      <mat-label>fermeture</mat-label>
      <input type="time" matInput name="dimancheEnd" formControlName="dimancheEnd">
    </mat-form-field>
  </div>
</div>
<div class="action">
  <button color="primary" class="button-reservation" mat-button (click)="saveTimetable()">
    Enregistrer
  </button>
</div>
