.div-delete {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  text-align: center;
}

.confirmation-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
