.container {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 75vh;
  background-color: #e9ddff;
  border-radius: 5px;
  padding: 1em 0;
  margin: 0 1em;
  overflow: auto;
}

.btn-list {
  display: block;
  text-decoration: none;
}

.details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.accordion-reservation {
  width: 100%;
}

.timetable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.action {
  display: flex;
  flex-direction: row-reverse;
}

.room-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.div-add-building {
  padding: 1em;
}

.details {
  display: flex;
  flex-direction: column;
}

.details-title {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.details-title span {
  font-size: x-large;
}

mat-divider {
  margin: 1em;
}
