<div class="container">
  <div class="navbar">
    <div class="div-add-building">
      <button color="primary" mat-raised-button (click)="openDialog()">
        Ajouter un Bâtiment
      </button>
    </div>
    <mat-nav-list #buildings>
      <a mat-list-item *ngFor="let building of buildingsList" (click)="clickDetailsBuilding(building)">
       {{building.name}}
      </a>
    </mat-nav-list>
  </div>
  <div class="details"  *ngIf="building">
    <div class="details-title">
      <span>{{building.name}}</span>
      <button color="primary" mat-icon-button (click)="openDialog(building)"><mat-icon>edit</mat-icon></button>
      <button color="warn" mat-icon-button (click)="deleteBuilding()"><mat-icon>delete</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
    <mat-accordion class="accordion-reservation" *ngFor="let meetingRoom of meetingRoomsList">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>meeting_room</mat-icon>
           Salle 1
          </mat-panel-title>
          <mat-panel-description>
            Etage: Etage 1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="room-info">
          <mat-form-field class="example-full-width">
            <mat-label>Salle</mat-label>
            <input type="text" matInput value="">
          </mat-form-field>
          <mat-panel-description>
            <mat-form-field class="example-full-width">
              <mat-label>Etage</mat-label>
              <input type="text" matInput value="">
            </mat-form-field>
          </mat-panel-description>
          <mat-panel-description>
            <mat-form-field class="example-full-width">
              <mat-label>Url Image</mat-label>
              <input type="text" matInput value="">
            </mat-form-field>
          </mat-panel-description>
        </div>
        <mat-divider></mat-divider>
        <div class="timetable">
          <div>
            <p>Lundi</p>
            <mat-form-field class="example-full-width">
              <mat-label>ouverture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>fermeture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
          </div>
          <div>
            <p>Mardi</p>
            <mat-form-field class="example-full-width">
              <mat-label>ouverture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>fermeture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
          </div>
          <div>
            <p>Mercredi</p>
            <mat-form-field class="example-full-width">
              <mat-label>ouverture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>fermeture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
          </div>
          <div>
            <p>Jeudi</p>
            <mat-form-field class="example-full-width">
              <mat-label>ouverture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>fermeture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
          </div>
          <div>
            <p>Vendredi</p>
            <mat-form-field class="example-full-width">
              <mat-label>ouverture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>fermeture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
          </div>
          <div>
            <p>Samedi</p>
            <mat-form-field class="example-full-width">
              <mat-label>ouverture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>fermeture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
          </div>
          <div>
            <p>Dimanche</p>
            <mat-form-field class="example-full-width">
              <mat-label>ouverture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>fermeture</mat-label>
              <input type="time" matInput value="">
            </mat-form-field>
          </div>
        </div>
        <div class="action">
          <button color="primary" class="button-reservation" mat-button>
            Enregistrer
          </button>
          <button color="warn" class="button-reservation delete" mat-button>
            Supprimer
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
