<mat-card class="card-section-title">
  <div class="img-room" [ngStyle]="{ 'background-image': 'url(' + room.imageUrl + ')'}">
  </div>
  <div class="details-room">
    <div class="section-title"><label>Salle : </label><span>{{room.name}}</span></div>
    <div class="section-subtitle"><label>Bâtiment : </label> <span>{{room.building.name}}</span></div>
    <div class="section-subtitle">{{room.building.address}}, {{room.building.zipcode}} {{room.building.city}}</div>
    <div class="section-subtitle"><label>Etage : </label> <span>{{room.floor}}</span></div>
  </div>
</mat-card>
<div class="body">
<mat-card class="calendar">
  <div class="calendar-header">
    <div class="header-calendar-date">
      <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
    </div>
    <div class="header-calendar-change">
      <button mat-icon-button class="btn btn-primary" mwlCalendarPreviousView [(view)]="view" [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        Aujourd'hui
      </button>
      <button mat-icon-button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div class="header-calendar-view">
      <button mat-stroked-button class="btn-calendar-view" (click)="viewChange.emit(CalendarView.Month)"
        [class.active]="view === CalendarView.Month">
        Mois
      </button>
      <button mat-stroked-button class="btn-calendar-view" (click)="viewChange.emit(CalendarView.Week)"
        [class.active]="view === CalendarView.Week">
        Semaine
      </button>
      <button mat-stroked-button class="btn-calendar-view" (click)="viewChange.emit(CalendarView.Day)"
        [class.active]="view === CalendarView.Day">
        Jour
      </button>
    </div>
    <!-- <div class="header-calendar-view">
      <div class="alert alert-info">
        Click on a day or time slot on the view.
        <strong *ngIf="clickedDate">You clicked on this time: {{ clickedDate | date:'medium' }}</strong>
        <strong *ngIf="clickedColumn != null">You clicked on this column: {{ clickedColumn }}</strong>
      </div>
    </div> -->
  </div>
  <div [ngSwitch]="view" class="calendar-container">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
      (columnHeaderClicked)="clickedColumn = $event.isoDayNumber" (dayClicked)="changeDay($event.day.date)"
      [activeDayIsOpen]="true" (eventClicked)="eventClicked($event)" (beforeViewRender)="beforeMonthViewRender($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
      (eventClicked)="eventClicked($event)" (dayHeaderClicked)="clickedDate = $event.day.date"
      (hourSegmentClicked)="addEvent($event.date)" (beforeViewRender)="beforeMonthViewRender($event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
      (eventClicked)="eventClicked($event)" (dayHeaderClicked)="clickedDate = $event.day.date"
      (hourSegmentClicked)="clickedDate = $event.date" (beforeViewRender)="beforeMonthViewRender($event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</mat-card>
<mat-card class="form-reservation ">
    <h3>S'enregister</h3>
  <form class="register">
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Télephone</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Vérifiez votre mot de passe</mat-label>
        <input matInput>
      </mat-form-field>
  </form>
  <label for="">ou</label>
  <form class="login">
    <h3>Se connecter</h3>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
</mat-card>
</div>
