<mat-toolbar color="primary" class="toolbar-reservation">
  <button color="link" mat-icon-button class="title" routerLink="/">
    Meeting-Room Reservation
  </button>
  <span class="spacer"></span>
  <button color="link" mat-icon-button class="toolbar-link" routerLink="/building">
    <mat-icon>business</mat-icon> Batiments
  </button>
  <button color="link" mat-icon-button class="toolbar-link" routerLink="/room">
    <mat-icon>meeting_room</mat-icon> Salles
  </button>
  <span class="spacer"></span>
  <button color="link" mat-icon-button class="" routerLink="authService.isAuthenticated() ? '/profil':'#!'" (click)="authService.isAuthenticated() ? null :openSideNav()">
    <mat-icon>person</mat-icon>
  </button>
  <button color="link" mat-icon-button class="" routerLink="/admin">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<div class="container-reservation">
  <mat-sidenav-container class="body">
    <mat-sidenav #sidenav (keydown.escape)="closeSideNav()" class="side-nav" position="end">
      <register></register>
      <login></login>
    </mat-sidenav>
  <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
