.container-reservation {
  background-color: #ffffff;
}

.body {
  background-color: #ffffff;
  height: 100%;
  padding: 1em;
}
.side-nav {
  height: 100vh;
  background-color: #673ab74f;
}
.spacer {
  flex: 1 1 auto;
}
.center {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 25px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.toolbar-link {
  margin: 5em;
}
