<mat-toolbar color="primary" class="toolbar-reservation">
  <button color="link" mat-icon-button class="title" routerLink="/">
    Meeting-Room Reservation
  </button>
  <span class="spacer"></span>
  <button color="link" mat-icon-button class="toolbar-link" routerLink="/building">
    <mat-icon>business</mat-icon> Batiments
  </button>
  <button color="link" mat-icon-button class="toolbar-link" routerLink="/room">
    <mat-icon>meeting_room</mat-icon> Salles
  </button>
  <span class="spacer"></span>
  <button color="link" mat-icon-button class="" [routerLink]="isAuthenticated ? '/profil':''" (click)="isAuthenticated ? null :openSideNav()">
    <mat-icon>person</mat-icon>
  </button>
  <button *ngIf="isAuthenticated" color="link" mat-icon-button class="" (click)="publiclogout()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
  <button color="link" mat-icon-button class="" routerLink="/admin" *ngIf="isAdmin">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<div class="container-reservation">
  <mat-sidenav-container>
    <mat-sidenav #sidenav (keydown.escape)="closeSideNav()" class="side-nav" position="end">
      <login></login>
      <mat-divider></mat-divider>
      <register></register>
    </mat-sidenav>
<div class="body">
    <router-outlet></router-outlet>
</div>
  </mat-sidenav-container>
</div>
