<div class="container">
  <div class="navbar">
    <div class="div-icon">
      <mat-icon class="icon">person</mat-icon>
    </div>
    <div>
      <p>{{user.familyname}} {{user.firstname}}</p>
      <p>Email : {{user.email}}</p>
      <p>telephone : {{user.phoneNumber}}</p>
    </div>
  </div>
  <div class="body">
    <div class="div-title">
      <h2>Vos réservations</h2>
    </div>
    <div class="div-reservations">
      <mat-card class="card-reservation" *ngFor="let meeting of meetingsList">
        <mat-card-content class="card-content">
            <p>Salle:{{meeting.meetingRoom.name}}</p>
            <p>Etage :{{meeting.meetingRoom.floor}}</p>
            <p>Bâtiment : {{meeting.meetingRoom.building.name}}</p>
            <p><label>Adresse :</label> <br/> <span>{{meeting.meetingRoom.building.address}} {{meeting.meetingRoom.building.zipcode}} {{meeting.meetingRoom.building.city}}</span></p>
            <p>{{meeting.startDate}} - {{meeting.endDate}}</p>
        </mat-card-content>
        <mat-card-actions class="div-reservation">
          <button color="primary" class="button-reservation" mat-button routerLink="/room/1"><mat-icon>edit</mat-icon></button>
          <button color="warn" class="button-reservation delete" mat-button><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
