.cal-month-view .bg-red,
.cal-week-view .cal-day-columns .bg-red,
.cal-day-view .bg-red {
  background-color: red !important;
}

.names {
  text-transform: uppercase;
}

.card-section-title {
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.img-room {
  width: 25%;
  height: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
}

.details-room {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: xx-large;
  font-weight: bold;
  padding: 1em 0;
  text-shadow: rgb(255, 255, 255) 3px 0 10px;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: large;
  font-weight: bold;
  padding: 0.5em 0;
  text-shadow: rgb(255, 255, 255) 3px 0 10px;
}

.div-id_room {
  display: none;
}
